{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Boutique en ligne{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    -<a href="{{ path('account') }}"> Retourner a mon comptr</a><br/>
    <hr>
    {{ form(form)}}
    <hr>

{% endblock %}
