{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content %}
        <!-- Three columns of text below the carousel -->
        <h3>Nos milleures ventes</h3>
        <p>Decouvriz les articles les plus vendus.</p>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
        </div><!-- /.row -->




{% endblock %}
